{{#partial "contenido"}}
<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Hogares y sus consumos </title>
</head>

<body>
	
	<div class="table-responsive">
<h3>Administracion de hogares</h3>
		
	<form action="/reporteHogar" method="POST">
	<div class="table-responsive">
		
<h3>Reporte de consumo por hogar/periodo </h3>
		
	<div class="form-group">
			<label for="inicioPeriodo">Inicio Periodo</label>
			<input type="date" placeholder="Ingrese un a単o" name="inicioPeriodo">
		</div>
	
		<div class="form-group">		
			<label for="finPeriodo">Fin Periodo</label>
			<input type="date" placeholder="Ingrese un a単o" name="finPeriodo">
		</div>
		
		<div class="form-group">
			<input class="btn btn-primary btn-lg" type="submit" value="Consultar">
		</div>
		
	<table class="table">
		<tr>
			<th>Hogares</th>
			<th>Consumo</th>
		</tr>
		{{#each clientes}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{consumo}}</td>
		</tr>
		{{/each}}
	</table>

	
<h3>Consumo promedio por tipo de dispositivo </h3>

	<table class="table">
		<tr>
			<th>Tipo de Dispositivo</th>
			<th>Consumo promedio</th>
		</tr>
		<tr>
			<td>Inteligente</td>
			<td>{{consumoDispositivoInt}}</td>
		</tr>
		<tr>
			<td>Estandar</td>
			<td>{{consumoDispositivoEst}}</td>
		</tr>
		
	</table>
	

<h3>Consumo por transformador por periodo </h3>

	<form action="/reporteTransformador" method="POST">
	<div class="form-group">
			<label for="inicio">Inicio Periodo</label>
			<input type="date" placeholder="Ingrese un a単o" name="inicio">
		</div>
	
		<div class="form-group">		
			<label for="fin">Fin Periodo</label>
			<input type="date" placeholder="Ingrese un a単o" name="fin">
		</div>
		
		<div class="form-group">
			<input class="btn btn-primary btn-lg" type="submit" value="Consultar">
		</div>
	
	<table class="table">
		<tr>
			<th>Transformador</th>
			<th>Consumo</th>
		</tr>
		{{#each transformadores}}
		<tr>
			<td>{{idTransformador}}</td>
			<td>{{suministroActual}}</td>
		</tr>
		{{/each}}
	</table>	
	
	<div>
    	<a href="../"><input class="btn btn-primary btn-lg" value="Ir al menu principal"></a>
  	</div>
</body>
{{/partial}}
{{>layout.hbs}}