{{#partial "titulo"}}
Agregar Dispositivo
{{/partial}}
{{#partial "ancho"}}
30%
{{/partial}}
{{#partial "contenido"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   
      <form class="form-signin" action="/agregar-disp" method="POST">
      <br />
        <h4>Seleccione el dispositivo que quiere agregar</h4>
         <br />
         <label for="dispos"></label>
         <select class="form-control" id="dispos" name="dispos">
         {{#each legales}}
			<option value="{{id}}">{{nombreDisp}} {{equipoConcreto}}</option>
		{{/each}}
        </select>
         
         {{#each legales}}
		<div id="{{id}}" style="display:none;" class="upuntou">
		<table class="table" style="margin-top:10px;">
			<tr>
			<td>Nombre</td>
			<td>{{nombreDisp}} {{equipoConcreto}}</td>
			</tr>
			<tr>
			<td>Es inteligente</td>
			<td>{{esInteligente}}</td>
			</tr>
			<tr>
			<td>Es bajo consumo</td>
			<td>{{esBajoConsumo}}</td>
			</tr>
		</table>
		</div>
		{{/each}}
         
        <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:15px;">Agregar Dispositivo</button>
        {{#block "alerta"}}{{/block}}
      </form>
      
      <script>
      $( "#dispos" ).change(function() {
      		$('div.upuntou').hide();
  			var elelegido = $('#dispos').find(":selected").val();
  			$("#"+elelegido).show();
		});
      </script>


{{/partial}}

{{>mainLayout.hbs}}