{{#partial "contenido"}}
<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Analizar Empresas</title>
</head>

<body>
	<h2>Estado del hogar</h2>
	
	<h3>Consumo del último mes:</h3>
	<div value={{consumo}}>{{consumo}}<small>kWh</small></div>
	<br/>
		
	<div class="table-responsive">
	<table class="table">
	<caption>Dispositivos</caption>
	<thead>
		<tr>
			<th>Nombre del dispositivo</th>
			<th>Modelo</th>			
			<th>Estado</th>
		</tr>
	</thead>
	<tbody>
		{{#each dispositivos}}
		<tr>
			<td>{{nombreDisp}}</td>
			<td>{{equipoConcreto}}</td>			
			<td>{{estado}}</td>
		</tr>
		{{/each}}
	</tbody>
	</table>

	<div class="form-row text-center">
    	<a href="../"><input class="btn btn-primary btn-lg" value="Volver" style="width:100px"></a>
  	</div>
</body>
{{/partial}}
{{>mainLayout.hbs}}