{{#partial "contenido"}}
<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Analizar Empresas</title>
</head>

<body>

	<h2>¿Es un hogar eficiente?</h2>
	<p style="font-size:12px;">Es decir, el hogar <strong>no</strong> consumió más de 612kWh en lo que va del mes</p>
	<div value={{eficiente}}> <h3>{{eficiente}} </h3></div>
	<div>Consumo simplex: {{consumoSimplex}}<small>kWh</small></div>
	<br/>
	<h3>Recomendación de horas máximas de uso al mes por dispositivo</h3>
		<div class="table-responsive">
	<table class="table">
	<caption>Dispositivos</caption>
		<thead>
		<tr>
			<th>Dispositivo</th>
			<th>Cant. de horas máximas</th>
		</tr>
		</thead>
		<tbody>
		{{#each recHoras}}
		<tr>
			<td>{{dispositivo}}</td>
			<td>{{value}}hs</td>
		</tr>
		{{/each}}
		</tbody>
	</table>
	


	<div class="form-row text-center">
    	<a href="../"><input class="btn btn-primary btn-lg" value="Volver" style="width:100px"></a>
  	</div>
</body>
{{/partial}}
{{>mainLayout.hbs}}